{% assign homeUrl = '/' %}

{% if site.baseurl.size > 0 %}
  {% assign homeUrl = site.baseurl %}
{% endif %}

<footer class="au-footer au-body au-body--dark au-footer--dark " role="contentinfo" data-proofer-ignore>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-8 col-md-push-3">
        <h2 class="au-display-md">Guidance and tools</h2>
        <ul class="au-link-list  au-link-list--inline">
          <li><a href="https://designsystem.gov.au/">Design System</a></li>
          <li><a href="/content-strategy/">Content Strategy Guidance</a></li>
          <li><a href="/digital-service-standard/">Digital Service Standard Guide</a></li>
          <li><a href="https://cloud.gov.au/">cloud.gov.au</a></li>
        </ul>
        <ul class="au-link-list footer__legal-links">
          <li><a href="https://www.dta.gov.au/contact-us">*Contact*</a></li>
          <li><a href="https://www.dta.gov.au/accessibility">Accessibility</a></li>
          <li><a href="/privacy-statement/">Privacy</a></li>
          <li><a href="https://www.dta.gov.au/disclaimer-and-copyright">Disclaimer</a></li>
          <li><a href="https://github.com/govau/content-guide/">Github</a></li>
          <li><a href="/support/">Support</a></li>
        </ul>
        <div class="au-footer__end">
          <div class="footer__content footer__legal">
            <p>&copy; Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms and where otherwise noted, this work is <a href="https://creativecommons.org/licenses/by/4.0/" rel="external">licensed under the CC BY 4.0 license</a>.</p>
            <p>This page uses content adapted from the <a href="https://www.gov.uk/government/organisations/government-digital-service" rel="external">UK Government Digital Service</a> under the Open Government Licence v3.0.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-pull-9 footer__logo">
        <p class="footer__affiliate"><span>Content Guide is a </span><span class="footer__affiliate-link"><a href="https://www.dta.gov.au/our-projects">Digital Transformation Agency product</a>.</span></p>
      </div>
    </div>
  </div>
</footer>
