<nav class="au-skip-link" aria-label="skip links navigation">
  <a class="au-skip-link__link" href="#content">Skip to main content</a>
  <a class="au-skip-link__link" href="#main-nav">Skip to main navigation</a>
</nav>

<header class="au-grid au-header au-header--dark" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <a class="au-header__brand" href="{{ site.baseurl }}/">
          <img src="{% asset_path "australian-government-white.png" %}" alt="Australian Government">
          <div class="au-header__text">
            <h2 class="au-header__heading">{{ site.title }}</h2>
            {% comment %}<div class="au-header__subline">Simple explaination of the website</div>{% endcomment %}
          </div>
        </a>
      </div>
      <div class="col-md-5 site-search">
        <form class="search__searchbox" role="search" autocomplete="off" action="{{ site.baseurl }}/search/" method="get">
          <input type="text" class="au-text-input au-text-input--dark round--left" name="q" id="search-input__header" placeholder="Content Guide">
          <button type="submit" class="au-btn au-btn--dark icon icon--search round--right" id="search-btn__header"><span class="search-btn__label">Search</span></button>
        </form>
      </div>
    </div>
  </div>
  </div>

  <nav id="main-nav" class="au-main-nav au-main-nav--dark" aria-label="main navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="main-nav-default" class="au-main-nav__content">
            <button
              aria-controls="main-nav-default"
              class="au-main-nav__toggle au-main-nav__toggle--open"
              onClick="return AU.mainNav.Toggle( this )">
              Menu
            </button>
            <div class="au-main-nav__menu">
              <div class="au-main-nav__menu-inner">
                <div class="au-main-nav__focus-trap-top"></div>
                <button
                  aria-controls="main-nav-default"
                  class="au-main-nav__toggle au-main-nav__toggle--close"
                  onClick="return AU.mainNav.Toggle( this )">
                  Close
                </button>
                <ul class="au-link-list" data-proofer-ignore>
                  <li><a href="/">Home</a></li>
                  <li><a href="/digital-service-standard">Digital Service Standard</a></li>
                  <li><a href="/topics">Topics</a></li>
                  <li><a href="/content-strategy-guide">Content Strategy Guide</a></li>
                  <li class="active"><a href="/content-guide/" aria-current="page">Content Guide</a></li>
                </ul>
                <div class="au-main-nav__focus-trap-bottom"></div>
              </div>
            </div>
            <div
              class="au-main-nav__overlay"
              aria-controls="main-nav-default"
              onClick="return AU.mainNav.Toggle( this )">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

