<nav class="au-skip-link" aria-label="skip links navigation">
  <a class="au-skip-link__link" href="#content">Skip to main content</a>
  <a class="au-skip-link__link" href="#main-nav">Skip to main navigation</a>
</nav>

<div class="headergovau">
  <div class="container">
    <div class="row headergovau__bar">
      <div class="col-md-12">
        <a href="#headergovau-accordion" class="headergovau__button js-header-accordion au-accordion--closed" aria-controls="headergovau-accordion" aria-expanded="false" aria-selected="false" role="tab" onclick="return AU.accordion.Toggle( this )"><span class="headergovau__text"><span class="headergovau__title">Australian Government&nbsp;</span><span class="headergovau__official">official website</span></span></a>
        <a href="https://dta.gov.au" class="headergovau__publisher">dta.gov.au</a>
      </div>
    </div>
    <div id="headergovau-accordion" class="headergovau__content row au-accordion__body au-accordion--closed" aria-hidden="true" style="">
      <div class="au-accordion__body-wrapper">
        <div class="col-sm-6">
          <div class="headergovau__icon-content icon--govau">
            <p class="headergovau__content__title">The .gov.au means it’s official.</p>
            <p>Australian government websites always use a .gov.au domain. Before sharing sensitive information online, make sure you’re on a .gov.au site by inspecting your browser’s address (or 'location') bar.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="headergovau__icon-content icon--secure">
            <p class="headergovau__content__title">This site is secure.</p>
            <p>The https:// ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include obsolete.liquid %}

<header class="au-header au-header--dark" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="header__brand--print">
          <img src="{% asset_path "coa-black.png" %}" alt="The Australian Government Coat of Arms">
          <strong>Digital Guides</strong>
        </div>

        <a class="au-header__brand " href="/" data-proofer-ignore>
          <img class="au-header__brand-image" alt="The Australian Government Coat of Arms" src="{% asset_path "header-logo-agov.png" %}">
          <div class="au-header__text"><h1 class="au-header__heading">Digital Guides</h1></div>
        </a>
      </div>
      {% comment %}
      <div class="col-md-5 site-search">
        <form class="search__searchbox" role="search" autocomplete="off" action="{{ site.baseurl }}/search/" method="get">
          <input type="text" class="au-text-input au-text-input--dark round--left" name="q" id="site-search-text" placeholder="Content Guide">
          <button type="submit" class="au-btn au-btn--dark icon icon--search round--right" id="search-btn__header"><span class="search-btn__label">Search</span></button>
        </form>
      </div>
      {% endcomment %}
    </div>
  </div>

  <nav id="main-nav" class="au-main-nav au-main-nav--dark" aria-label="main navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="main-nav-default" class="au-main-nav__content">
            <button
              aria-controls="main-nav-default"
              class="au-main-nav__toggle au-main-nav__toggle--open"
              onClick="return AU.mainNav.Toggle( this )">
              Menu
            </button>
            <div class="au-main-nav__menu">
              <div class="au-main-nav__menu-inner">
                <div class="au-main-nav__focus-trap-top"></div>
                <button
                  aria-controls="main-nav-default"
                  class="au-main-nav__toggle au-main-nav__toggle--close"
                  onClick="return AU.mainNav.Toggle( this )">
                  Close
                </button>
                <ul class="au-link-list" data-proofer-ignore>
                  <li><a href="/">Home</a></li>
                  <li><a href="/digital-service-standard">Digital Service Standard</a></li>
                  <li><a href="/topics">Topics</a></li>
                  <li><a href="/content-strategy">Content Strategy Guide</a></li>
                  <li class="active"><a href="/content-guide/" aria-current="page">Content Guide</a></li>
                </ul>
                <div class="au-main-nav__focus-trap-bottom"></div>
              </div>
            </div>
            <div
              class="au-main-nav__overlay"
              aria-controls="main-nav-default"
              onClick="return AU.mainNav.Toggle( this )">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

{% unless page.url == '/' %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <nav class="au-breadcrumbs" aria-label="breadcrumb">
        {% comment %}
          Our breadcrumb logic is very simple, and runs 2-tiers deep. It assumes the
          usage of Jekyll Collections: https://jekyllrb.com/docs/collections

          The capture is only done for brevity and future re-use.

          The if condition sets the page title to ‘Overview’ if it’s the index page
          for its page.parent.
        {% endcomment %}
        {% capture page_title_slugified %}{{ page.title | slugify }}{% endcapture %}
          <ul class="au-link-list au-link-list--inline">
            <li><a href="{{site.baseurl}}/">Content Guide</a></li>
            <li>{{ page.title }}</li>
          </ul>
      </nav>

      </div>
    </div>
  </div>
  {% endunless %}
