<div class="au-header au-header--light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="header-obsolete">
          <h1 class="au-display-lg">Style Manual is Live</h1>
          <p>The <a href="https://stylemanual.gov.au">Australian Government Style Manual</a> now replaces the Content Guide.</p>
          <p>We will be switching off the Content Guide website on 23 October 2020. The information will still be available through <a href="https://webarchive.nla.gov.au/awa/20200921022502/https://guides.service.gov.au/content-guide/">Trove's snapshots of the Content Guide</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
