<!DOCTYPE html>
<!--[if lte IE 7]>     <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js"> <!--<![endif]-->

  {% include head.liquid %}

  <body>

  {% include header.liquid %}

    {{ content }}

  {% include footer.liquid %}

  </body>

</html>
