---
layout: default
---

<main role="main" id="content" class="content-main au-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

  <header>
    <h1>{{ page.title }}</h1>

    <div class="abstract">
      {{ page.abstract | markdownify }}
    </div>
  </header>
  <article>
    {{ content }}
  </article>

      </div>
    </div>
  </div>
</main>