---
layout: default
---
<main role="main" id="content" class="content-main">
  <header>
    <h1><span class="guide-title">DTA Content Guide</span>
      Search
    </h1>
  </header>

  {% include search.liquid %}

</main>

{% javascript search.js.liquid %}
