h1,
h2,
h3,
h4 {
  line-height: $base-heading-leading;
  font-weight: $base-font-weight;
  margin-bottom: $tiny-spacing;
  margin-top: $base-spacing;
}

h1 {
  font-size: rem(32);
  font-weight: $bold-font-weight;
  margin-bottom: $small-spacing;

  @include media($tablet) {
    font-size: rem(40);
  }

  &:first-of-type {
    margin-top: $tiny-spacing;
  }

  @include ie-lte(8) {
    font-size: 44px;
  }
}

@mixin h2 {
  font-size: rem(28);
  line-height: $small-leading;
  margin-top: $base-spacing;
  margin-bottom: 1em;

  @include media($tablet) {
    font-size: rem(32);
  }

  @include ie-lte(8) {
    font-size: 32px;
  }
}

h2 {
  @include h2;
}

h3 {
  font-size: rem(20);
  font-weight: $heading-font-weight;
  margin-top: $medium-spacing + ($small-spacing / 3); // 38.133px; was 34.4px from Alz.
  margin-bottom: $small-spacing;

  @include media($tablet) {
    font-size: rem(22);
  }

  @include ie-lte(8) {
    font-size: 22px;
  }
}

h4,
h5,
h6 {
  font-size: rem(18);
  font-weight: $heading-font-weight;

  @include ie-lte(8) {
    font-size: 18px;
  }
}


// make .abstract class smaller.
