$lighter-grey:    lighten($grey, 48%);

$spacing-double: ($base-spacing * 2);
$spacing-three-quarter: ($medium-spacing + $small-spacing);
$spacing-half: $medium-spacing;
$spacing-quarter: $small-spacing;
$spacing-eighth: $tiny-spacing;

$guide-eg-border-width: 7px;

// Something for uikit?
%base-border {
  border: 1px solid $border-colour;
  border-radius: $base-border-radius;
}

%scrolling-example {
  width: 100%;
}

table {
  margin-bottom: $base-spacing * 2;
}


// Some spritesheet svg/png icon things.
//
// The class implementation here could be buggy -- might need to target the SVGs
// directly.
.icon-inline {
  margin-right: $tiny-spacing;
}

.fa-envelope-o {
  width: rem(22);
  height: rem(17);
  vertical-align: middle;
}

.fa-github {
  width: rem(22);
  height: rem(22);
  vertical-align: text-bottom;
}

// Custom styling for the inverted feedback button in the header.
// This will likely be removed/replaced by a global site search.
// The @extend .inverted is not working in:
// https://github.com/AusDTO/gov-au-ui-kit/blob/master/assets/sass/components/_page-header.scss#L288

.hero {
  padding-top: 0;

  .wrapper {
    @include ie-lte(8) {
      @include ie-clearfix;
    }

    @include media($tablet) {
      //Not sure if we want to load it like this, given how complex the SVG is?
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22736%22%20height%3D%22169%22%20viewBox%3D%220%200%20736%20169%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23323031%22%20d%3D%22M7.14%20136.645c.43-27.17-2.395-54.2-3.504-81.306-.47-11.48-1.103-22.94-1.61-34.42-.108-2.46.196-4.93-1.242-8.52%2061.608.07%20122.544-.48%20183.314-5.56%203.368%201.4%202.963%204.25%202.705%207.04.505%204.36%201.134%208.75.316%2013.12-.42%202.24%201.29%203.6%201.64%205.48.1.95.08%201.9-.06%202.85-1.01%204.63-.49%209.34%200%2013.91.93%208.82.76%2017.64.74%2026.46-.02%206.03.95%2011.95%201.54%2017.91.32%204.15.27%208.2-.98%2012.32-1.35%204.45.06%209.08.4%2013.6.56%207.5.41%2015.05%201.71%2022.49-.14%203.26-.03%206.55-.4%209.81-1.58%202.49.9%205.37-.73%207.86-.53.71-1.22%201.2-2.04%201.52-2.54%201.33-5.1%201.32-7.7.18-.99-.04-2.07-.29-2.96.02-11.18%203.98-22.81.51-34.11%202.17-7.89.07-15.8-.29-23.63.99-4.17.08-8.25-2.42-12.48-.44-8.31-1.62-16.48%201.67-24.78.67-.95-.06-1.89-.14-2.83-.2-9.94-.15-19.82-1.7-29.81-1.02-1.81.12-3.72.2-5.58.21-.63.09-1.27.09-1.9.02-4.49-1.01-8.79.6-13.19%201.01-1.54-.12-3.09.12-4.63%200-3.33.2-6.68.14-9.95-.377-8.24-1.29-7.84-2.05-7.98-8.52-.13-6.45.48-12.92-.34-19.36%22/%3E%3Cpath%20fill%3D%22%23322F31%22%20d%3D%22M555.996%20155.923c-3.332-2.81-4.806-6.63-4.986-10.754-1.767-40.43-3.415-80.85-5.1-121.28-.132-3.16-.398-6.31-.42-9.46-.03-3.88%201.872-5.69%205.903-5.51%2012.467.56%2024.94%201.13%2037.402%201.65%2018.44.76%2036.942.03%2055.418.01%2018.974-.03%2037.948.04%2056.922.06%205.5%200%2011.056.03%2016.39-1.31%202.48-.63%203.61%201.13%205.408%201.61%203.272%202.45%202.082%206.22%202.775%209.43.376%201.74.695%203.5.734%205.29.068%201.86.22%203.72.46%205.57-1.123%207.88-.283%2015.77-.035%2023.65.08%202.54.066%205.09.086%207.63.364%209.41.36%2018.87.482%2028.25.12%209.24%202.592%2018.29%201.536%2027.49-.29%202.52.7%204.62.99%206.93.98%207.71%201.32%2015.49%202.59%2023.18-2.14%208.55-3.03%208.9-11.88%208.86-11.03-.05-22.07.37-33.1.01-6.03-.2-12.05-.99-18.11-.46-1.58.28-3.2.15-4.77.39-22.76-1.61-45.51-.72-68.26.45-1.82.42-3.67.67-5.55.65-3.82-.06-7.61-.04-11.33-1.31-2.42-.83-4.95-.09-7.39.37-4.29.81-8.57%201.07-12.87.06-1.27-.11-2.36-.6-3.25-1.51%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M304%203h102l3%204%201%20136-1%205-102%203-4-6-2-139%22/%3E%3Cpath%20fill%3D%22%23333233%22%20d%3D%22M363.953%2072.602c-1.464.748-2.864%201.71-4.413%202.175-1.226.37-2.723.315-3.613-1.005-.846-1.254.298-2.09.712-3.128%206.21-15.578%2019.04-26.238%2029.26-38.77%206.51-7.988%2012.75-16.227%2019.59-23.953.88-.99%201.34-1.75.45-2.97-.75-1.03-1.55-1.6-2.91-1.45-31.35%203.5-62.79%201.28-94.19%201.26-5.66%200-6.62%202.1-6.69%206.78-.47%2034.32-.43%2068.63%201.46%20102.92.55%209.98.51%2019.99.66%2029.98.02%201.34.53%203.51-1.76%203.39-2.19-.11-1.53-2.21-1.56-3.58-.7-43.63-3.16-87.23-1.92-130.9.1-3.72%201.81-7.48-.64-10.85%2016.82%200%2033.11.46%2049.36-.12%2017.45-.61%2034.93.35%2052.36-1.26%203.23-.3%206.49-.97%208.88%202.6%201.09%201.64%203.7%201.14%205.66%201.44%207.86.85%209.43%204.1%205.29%2011.04-1.1%201.84-2.41%203.55-3.82%205.16-2.92%201.71-4.17%204.24-3.75%207.6-.06.55-.14%201.09-.25%201.63-1.28%209.05-.43%2018.14-.68%2027.21.06%204.33-.17%208.67.25%2012.99.17%202.24%202.09%204.01%201.74%206.4-.03%201.16.06%202.33-.02%203.49-1.59%2012.72.91%2025.43.02%2038.15.15%208.66-.86%2017.28-.82%2025.95.01%202.4-.78%204.77-3.13%206.16-4.17%201.19-8.42%201.72-12.75%201.53H382c-8.05.15-16.13-.51-24.13.93-6.974.14-13.947.02-20.918.09-9.318-.32-18.665.69-27.96-.6-1.306-.34-3.516.99-3.763-1.17-.29-2.53%202.22-1.99%203.66-2.12%2012.95-1.24%2025.95-.61%2038.93-.946%2017.15-.44%2034.31-.52%2051.45-1.04%208.95-.27%2011.69-4.26%209.29-12.85-.57-2.02-.42-3.95-.32-5.92%201.63-31.982-2.46-63.89-1.3-95.864-1.14-.66-1.99.096-2.45.836C399.95%2041.14%20392.67%2046%20387.5%2052.75c-4.16%204.03-8.24%208.13-12.38%2012.18-2.17%201.72-4.4%203.42-5.84%205.803-1.34%202.21-3.06%202.72-5.36%201.93%22/%3E%3Cpath%20fill%3D%22%23DFE0E2%22%20d%3D%22M410.956%2027.89c-2.65-3.814%201.676-4.833%202.853-7.114%203.77-1.063%206.46%201.088%209.18%203.128-.01%209.206-.1%2018.412-.01%2027.617.11%2011.17-1.06%2022.24-2%2033.33-.79%209.31.15%2018.58.4%2027.87.32%2012.26.61%2024.53.97%2036.79.04%201.47.43%202.92.66%204.38-.62%201.07-1.59%201.35-2.74%201.27-4-1.35-2.42-5.49-4.03-8.04-.26-1.03-.69-2.02-.5-3.12.77-12.41-.41-24.8-.58-37.21-.2-14.87-1.04-29.76-1.92-44.59-.44-7.28.94-14.34.3-21.51-.19-2.12-.04-4.21-2.12-5.54-1.05-2.35.14-4.85-.5-7.23%22/%3E%3Cpath%20fill%3D%22%23E0E1E2%22%20d%3D%22M188.04%2093.916L185.955%2034.9c3.62-1.99%205.954-.967%207.024%203.005.03%2016.438%202.17%2032.75%202.93%2049.14.73%2015.73%202.96%2031.59.69%2047.195-1.1%207.55.82%2013.89%202.36%2020.68-2.27%201.57-4.48-.18-6.73-.102-1.44-.454-2.08-1.543-2.36-2.93-1.98-2.5-.08-5.38-.8-8.005.43-3.088.95-6.084%202.57-8.9%201.56-2.712%201.18-5.855.43-8.774-.83-3.22-2.99-6.24-1.12-9.75-4.76-1.37-2.06-5.18-2.31-7.81-.46-4.89.19-9.85-.63-14.74m542.04%2054.01c-2.21-21.43-4.83-42.83-4.81-64.42%200-6.79-1.15-13.55-.37-20.35-.2-8.71-1.44-17.45.69-26.1.56-2.26-1.11-4.08-1.53-6.15l-.23-4.66c-1.33-5.65.26-10.16%205.18-13.38%201.85%204.67%201.11%209.53.7%2014.26-1.27%2014.58-.62%2029.17-.72%2043.75-1.56%202.34-1.9%204.67-.01%207.01-.37%2014.38%202.56%2028.61%201.98%2042.99-.93%202.78-.17%205.09%201.97%207.01l2.99%2024.95c-4.26%201.09-4.88-2.14-5.86-4.94%22/%3E%3Cpath%20fill%3D%22%23DDDFE0%22%20d%3D%22M338.973%20164.932c-5.365-.37-10.53%202.243-15.947%201.064l-.53-.432c-.212-1.362-1.23-2.387-1.553-3.703l8.848-2.41-.03-.54h-11.77c.47-2.64%202.34-2.11%204.3-2.28%204.98-.41%209.95-.06%2014.9-.23%2010.12.66%2020.27%201.51%2030.4%201.48%205.18-.01%2010.69.11%2015.59-2.56%204.75-1.74%209.63-.65%2014.44-.88%201.02.01%202.13.27%202.49%201.23%201.33%203.5%203.94%202.03%206.25%201.75.94-.23%201.85-.04%202.77.14%202.02%201.05%204%202.14%204.92%204.41-6.77%201.72-13.72%202.06-20.63%202.37-15.7.7-31.42%201.05-47.13%201.5-2.47.07-5%20.42-7.31-.88.77-.91%201.85-1.1%202.5-1.19-.66.07-1.72.28-2.49%201.2%22/%3E%3Cpath%20fill%3D%22%233F3F40%22%20d%3D%22M495.038%2088.187c-13.336-1.562-25.642-1.293-37.952-1.023-2.825.062-5.658-.076-8.48-.236-1.71-.098-3.707-.486-3.426-2.684.296-2.316%202.346-1.117%203.656-1.088%2015.3.338%2030.616-1.04%2046.673%201.05-2.14-3.778-7.84-4.073-6.98-9.412%204.93%202.735%209.32%205.278%2013.82%207.62%203.1%201.614%202.84%203.608.53%205.346-4.25%203.2-8.74%206.073-13.12%209.087-.92.63-1.87.956-2.51-.24-.64-1.177-.29-2.342.71-3.136%202.04-1.62%204.17-3.13%207.06-5.28%22/%3E%3Cpath%20fill%3D%22%23403F41%22%20d%3D%22M263.99%2079.043c-2.146-2.922-7.56-2.997-6.694-8.45%204.843%202.64%209.423%205.132%2014%207.63%202.376%201.297%202.608%203.29.66%204.778-4.473%203.43-9.214%206.5-13.87%209.68-.74.51-1.576.57-2.13-.36-.72-1.2-.34-2.35.605-3.12%202.04-1.66%204.21-3.16%206.32-4.73l.01-1.78c-6.29%200-12.59-.03-18.89.01-7.8.06-15.61.2-23.41.23-1.48.01-2.98-.2-4.44-.5-1.36-.27-2.61-.94-2.25-2.67.37-1.75%201.75-1%202.83-.97%2015.27.54%2030.58-.76%2045.83.71.4.04.83-.25%201.45-.45%22/%3E%3Cpath%20fill%3D%22%23DEDFE0%22%20d%3D%22M80.98%20162.833l1.648-.058c5.267-.4%2010.44-.748%2015.745.608%203.424.874%207.534%202.043%2010.572-1.584%203.36-.76%206.71-.69%2010.055.1%203.365%201.23%206.842.48%2010.25.44%204.74-.06%209.406.42%2014.078%201.04%203.8-.71%207.612-1.64%2011.255.59-.125%202.29-2.293%202.06-3.587%202.91-18.38.66-36.758%201.47-55.144%201.9-7.546.17-15.073-2.3-22.692-.12-2.172.62-4.05-1.27-6.137-1.77-1.05.77-1.814.49-2.346-.64%201.106-3.32%203.73-2.36%206.17-2.34%203.402.03%207.13%202.55%2010.134-1.11m514.79-7.05c23.05-2.44%2046.13-1.89%2069.21-.77.53%202.49-1.06%203.09-2.96%203.02-1.18-.05-2.18-.07-3.02.85l-53.99%201.02c-1.64%201-3.45.32-5.18.49-3.46.34-4.77-1.26-4.05-4.61%22/%3E%3Cpath%20fill%3D%22%2339383A%22%20d%3D%22M339.03%20158.006c-7.01.398-14.097-.973-21.046.893l-.484-.01-.47.11c-3.422.2-3.37-1.59-1.996-3.77.79-1.26%202.222-1.82%203.75-1.79%205.54-.3%2011.094.08%2016.637-.05.95.07%201.9-.08%202.84%200%208.54-.28%2017.12.74%2025.61-.91%203.63-.18%207.26-.06%2010.88-.09%204.73-.18%209.48.41%2014.19-.4%204.63-.48%209.33.53%2013.94-.63%202.23-.91%204.67-.06%206.91-.84.82-.38%201.63-.76%202.57-.68%201.7.53%203.79.43%204.42%202.7.2%201.77-.6%202.95-2.18%203.66-1.17.25-2.24.81-3.38%201.17-3.42-.99-6.78%201.03-10.2.2-.78-.41-1.36-1.06-2-1.65-5.45-.05-10.91-.13-16.32.76-3.68%201.98-7.76%201.33-11.59%201.24-10.68-.24-21.36%201.86-32.04.04%22/%3E%3Cpath%20fill%3D%22%233C3B3C%22%20d%3D%22M349.77%2086.18c.52%202.928-1.716%202.298-3.188%202.32-8.8.14-17.61-.09-26.37%201.17-3.323.476-4.706-1.736-5.38-4.57-.074-.31.033-.66.03-.993-.116-9.94-.115-9.922%209.717-10.336%206.97-.29%2013.95-.65%2020.92-.96%202.08-.09%204.15-.11%204.24%202.82-.66%201.85-1.74%203.43-3.89%203.09-4.3-.69-8.55.68-12.81.1-2.47.03-4.9.56-7.38.67-1.87.09-3.67.56-3.82%202.97%201.26%202.06%203.31%201.71%205.24%201.74%206.05-1.02%2012.16-.6%2018.24-.86%202.26-.1%203.89.45%204.43%202.86%22/%3E%3Cpath%20fill%3D%22%23C3C5C7%22%20d%3D%22M349.77%2086.18c-5.722-1.6-11.5.15-17.247-.273-2.485-.183-4.99-.113-7.486-.157-.587-.71-1.576-.812-2.21-1.46-.947-2.835.704-3.952%203.064-4.443%202.28-.473%204.56-.83%206.13-2.808l17.73-1.42c8.06%203.5%202.6%207.03.03%2010.55%22/%3E%3Cpath%20fill%3D%22%233F3E40%22%20d%3D%22M312.16%2028.43c23.555-.398%2045.36%201.448%2068.252.49-5.45%203.774-61.764%203.55-68.25-.49%22/%3E%3Cpath%20fill%3D%22%23DEDFE0%22%20d%3D%22M730.082%20147.925l5.854%204.943.072%202.04c-2.457%202.615-5.9%202.236-8.98%202.964-2.998%201.222-6.004%201.592-9.026.078-6.745-.07-13.49-.13-20.237-.043-1.652.02-3.314-.05-4.755.977-3.694-.09-7.46.61-11.017-1.002-1.9-1.507-3.904-.59-5.865-.218-2.925.554-5.475.2-7.11-2.654%2017.375-.11%2034.704%201.745%2052.1%201.13%207.626-.27%207.636.015%208.964-8.215%22/%3E%3Cpath%20fill%3D%22%23DADCDD%22%20d%3D%22M555.996%20155.923l2.627-.168c6.02-.768%2012.064-.153%2018.092-.343%205.624%201.862%206.06%203.1%202.284%206.486-6.93%201.972-14.01.626-21.01.985-.88-1.914.42-4.555-1.98-5.964-.02-.34-.03-.67-.02-1%22/%3E%3Cpath%20fill%3D%22%23CDCED0%22%20d%3D%22M422.996%2023.904c-3.335-.242-6.935.297-9.187-3.128%201.32-1.858%202.74-3.66%203.96-5.586%203.9-6.138%203.35-7.862-3.09-10.068%201.65-.053%203.3-.21%204.94-.14%207.62.332%208.18%201.547%205.21%208.15-1.48%203.276-3.78%206.762-1.85%2010.772%22/%3E%3Cpath%20fill%3D%22%23DFE0E1%22%20d%3D%22M386.11%2051.908c.166-3.043%202.897-4.204%204.623-6.003%205.104-5.323%2010.443-10.42%2015.694-15.61%201.096.735.722%201.7.534%202.627-4.21%209.133-12.01%2015.165-18.97%2021.928-1.27-.57-1.28-1.94-1.88-2.942%22/%3E%3Cpath%20fill%3D%22%23E4E4E5%22%20d%3D%22M579%20161.898c2.014-2.29.618-4.024-.935-5.732%204.38-1.457%208.832-.717%2013.27-.422l4.428.04c1.88%204.063%205.333%204.6%209.24%204.124-8.616%201.355-17.282%202.042-26.004%201.99%22/%3E%3Cpath%20fill%3D%22%23F0F1F1%22%20d%3D%22M185.834%2032.99c-1.472-6.31-1.04-12.7-.794-19.082%202.933-4.37%204.816-.92%206.914.928-.243%205.03-3.44%2010.063.026%2015.085-1.92%201.28-2.837%204.57-6.146%203.07%22/%3E%3Cpath%20fill%3D%22%23E5E6E7%22%20d%3D%22M26.195%20162.824h3.603c1.79-.665%203.58-.62%205.372.002%201.33%201.426%201.37%202.798-.174%204.1-4.73.03-9.464.2-14.186.034-2.86-.1-5.402.523-7.818%201.937-1.613-1.31-2.95-2.777-1.898-5.033.898-1.926%202.765-1.49%204.34-1.43%203.588.133%207.203-.486%2010.76.39%22/%3E%3Cpath%20fill%3D%22%23424244%22%20d%3D%22M351.018%2039.3c-5.525%200-11.05-.075-16.573.024-4.32.078-8.634.39-12.952.56-1.006.04-2.1-.065-2.37-1.292-.22-1%20.46-1.543%201.387-1.61%2010.197-.745%2020.407-1.787%2030.485.785l.023%201.533%22/%3E%3Cpath%20fill%3D%22%23E2E3E4%22%20d%3D%22M34.996%20166.927l.005-3.02c2.55-1.113%205.66.2%207.99-1.852l1.04.012c5.81%201.902%2011.81%201.49%2017.77%201.523%201.65.01%203.53-.384%203.21%202.315l2.02%201.017c-3.81%201.822-7.9%201.183-11.8.873-6.74-.536-13.56.954-20.22-.868%22/%3E%3Cpath%20fill%3D%22%23ECEDED%22%20d%3D%22M150.996%20166.898l3.01-2.976c7.523-2.828%2015.226-3.406%2023.1-1.83l1.494%202.432c-9.218%202.81-18.45%202.2-27.604%202.374%22/%3E%3Cpath%20fill%3D%22%23DCDDDE%22%20d%3D%22M386.11%2051.908c1.27.57%201.78%201.625%201.878%202.942-3.757%204.274-7.89%208.23-11.002%2013.05-1.234.924-2.202.5-3.037-.597-.62-1.12.12-2.34-.25-3.477%203.27-4.87%207.89-8.344%2012.41-11.918%22/%3E%3Cpath%20fill%3D%22%23CED0D1%22%20d%3D%22M336.022%20154.797c-5.59.867-11.2.123-16.802.214-2.034.95-4.345.06-6.488%201.34-1.944%201.17-3.213-.47-3.727-2.44l-.014-1.07c9.29-1.79%2018.66-.97%2028.01-.85%201.12%201.44.23%202.18-.97%202.82%22/%3E%3Cpath%20fill%3D%22%23B6B8BB%22%20d%3D%22M413.986%20154.968c1.01-.385%201.78-1.007%202.08-2.097.155-2.32-2.158-5.34%201.87-6.55%201.532%202.31%201.17%205.13%202.057%207.62%201.445.77%202.77%201.68%204.402%202.19%202.224.71%203.118%202.4%201.547%204.64-2.75%202.17-6.07-.07-8.94%201.16-5.06-2.11-5.326-2.72-3.016-6.94%22/%3E%3Cpath%20fill%3D%22%23DDDEDF%22%20d%3D%22M177.105%20162.093c-3.645-.048-7.292-.194-10.932-.1-1.58.04-2.89-.24-4.252%202.043-1.55%202.598-5.21.825-7.91-.114-3.31.62-6.87-1.313-10.02.98-.82-.96-.8-1.912.03-2.854%2012.65-.972%2025.32-1.33%2038-1.044.23.21.31.417.23.624-.08.206-.15.31-.23.31l-4.9.155z%22/%3E%3Cpath%20fill%3D%22%23D9DADB%22%20d%3D%22M26.195%20162.824c-2.78.043-5.57.276-8.333.085-4.637-.32-6.546%201.3-4.87%205.98-4.983-.04-6.133-3.92-6.24-7.45-.254-8.26.212-16.54.388-24.8%201.254%206.39.536%2012.85.665%2019.28.085%204.24%201.388%206.35%206.155%206.13%204.044-.19%208.238-.68%2012.235.76%22/%3E%3Cpath%20fill%3D%22%23E3E4E5%22%20d%3D%22M669.017%20155.01c2.573%201.266%205.105%202.185%208.105%201.14%201.823-.634%203.615.11%204.87%201.732-7.617%201.432-15.332.648-22.996%201.004.295-3.912%205.094-.866%205.978-3.87%201.348%200%202.695-.003%204.043-.006%22/%3E%3Cpath%20fill%3D%22%23CFD1D2%22%20d%3D%22M373.702%2063.826c1.037.32%201.803.81%201.3%202.09-2.26%203.186-1.964%207.896-5.983%2010.035-3.05.93-4.27-.88-5.07-3.34l9.75-8.77%22/%3E%3Cpath%20fill%3D%22%23D1D3D4%22%20d%3D%22M191.954%2014.836c-2.417.53-4.424-1.997-6.914-.928-.752-2.293.39-4.84-.942-7.054%206.986-1.406%207.822-.556%207.856%207.982%22/%3E%3Cpath%20fill%3D%22%23C5C7C9%22%20d%3D%22M729.022%2012.886c.058%202.78-.497%205.16-3.28%206.64-2.834%201.505-1.04%204.54-1.9%206.732-1.353-5.04-.095-10.236-.91-15.31%202.285-.152%204.435.114%206.09%201.938%22/%3E%3Cpath%20fill%3D%22%23CECFD1%22%20d%3D%22M192.92%20152.998c2.013.64%204.026%201.282%206.038%201.923.05%202.53.576%205.19-1.956%207-5.042%202.54-6.478%202.15-8.053-2.16l.79-.97c2.76-.99.93-4.5%203.17-5.78%22/%3E%3Cpath%20fill%3D%22%233C3B3C%22%20d%3D%22M336.218%2048.9c-5.052%200-10.103.022-15.155-.016-1.058-.007-1.97-.453-1.964-1.713%200-.99.75-1.52%201.61-1.48%205.27.22%2010.77-.96%2015.5%203.22%22/%3E%3Cpath%20fill%3D%22%23E0E1E2%22%20d%3D%22M693.01%20158.884c1.52-1.94%203.69-2.086%205.854-1.94%206.375.424%2012.855-1.112%2019.138%201.005-8.272%201.88-16.672.34-24.992.93%22/%3E%3Cpath%20fill%3D%22%23CED0D1%22%20d%3D%22M413.986%20154.968c-.163%202.822.99%205.074%203.015%206.946-.97.733-1.96.378-2.95.034-1.48-1.337-6.12%202.7-5.05-2.97-1.72-2.515-.14-3.355%201.99-3.914l3.01-.096%22/%3E%3Cpath%20fill%3D%22%23E8E9EA%22%20d%3D%22M185.834%2032.99c1.293-2.538%203.166-3.912%206.146-3.07l.998%207.986c-1.84-2.17-5.115-.995-7.024-3.007l-.12-1.91%22/%3E%3Cpath%20fill%3D%22%23BABCBE%22%20d%3D%22M309.005%20153.91l10.215%201.1c-1.394.828-3.746.212-4.142%202.49-.23%201.334%201.118%201.224%201.952%201.506-5.384%201.675-8.397-.238-8.025-5.096%22/%3E%3Cpath%20fill%3D%22%23C2C4C6%22%20d%3D%22M425.942%20160.757c-.73-3.367-6.866-2.027-5.95-6.83l3.03-.046c2.423.25%204.486%201.22%205.21%203.66.504%201.7-.9%202.59-2.29%203.23%22/%3E%3Cpath%20fill%3D%22%23ECEDED%22%20d%3D%22M188.95%20159.75c1.84%203.858%205.062%202.578%208.052%202.166-2.85%202.73-11.373%202.74-14.998.022l.007-.933%206.94-1.256%22/%3E%3Cpath%20fill%3D%22%23DDDEDF%22%20d%3D%22M369.02%2075.95c3.033-2.724%201.42-8.22%205.98-10.035l1.986%201.985c-3.014%202.33-3.813%206.85-7.967%208.05%22/%3E%3Cpath%20fill%3D%22%23C5C7C9%22%20d%3D%22M556.016%20156.92c3.624%201.005%205.886%202.46%201.98%205.964-2.784-1.283-1.85-3.8-1.98-5.964%22/%3E%3Cpath%20fill%3D%22%23EAEBEC%22%20d%3D%22M732.95%20127.92c-3.96-1.41-4.798-3.697-1.97-7.013l1.97%207.013%22/%3E%3Cpath%20fill%3D%22%23EFEFF0%22%20d%3D%22M728.993%2077.912c-3.468-2.338-3.455-4.673.007-7.005l-.007%207.005%22/%3E%3Cpath%20fill%3D%22%23E0E1E2%22%20d%3D%22M727.027%20157.872c2.994-.986%205.72-2.786%208.98-2.964-1.815%204.557-5.82%202.485-8.98%202.964m-404%208.124c-1.853.66-3.718.406-4.737-1.193-.952-1.496.74-2.142%201.77-2.844%201.786.69%202.65%202.07%202.93%203.9l.036.13z%22/%3E%3Cpath%20fill%3D%22%23CDCFD0%22%20d%3D%22M322.99%20165.862c-1.487-.917-2.248-2.38-2.93-3.903.293-.04.588-.08.884-.1%203.24.02%204.112%201.26%202.047%204%22/%3E%3Cpath%20fill%3D%22%23FEFEFE%22%20d%3D%22M170%2020.943h11.253c.502%208.155%201.245%2016.59%201.5%2025.038%201.053%2034.94%201.85%2069.89%203.034%20104.82.176%205.19-1.715%207.03-6.42%206.85-20.8-.79-41.57.84-62.386.72-27.27-.16-54.58.21-81.87.74-4.65.09-6.29-.91-6.47-5.8-1.29-34.72-5.4-69.3-5.66-104.09-.02-3.29.81-4.43%204.15-4.23%205.98.36%2011.99.66%2017.84-1.19%202.35-1.9%205.13-1.96%207.94-1.86%204.11.15%208.12-.83%2012.2-1%2016.17-3.11%2032.6-3.31%2048.95-4.39%204.44-.29%208.95.27%2013.39.9%207.13%201.01%2014.25.14%2021.38.11%202.84%204.29%202.45%209.26%202.54%2013.98.35%2017.65-.33%2035.33.29%2052.95.38%2010.79.63%2021.63%202.02%2032.38.06-2.03-.2-4.08-.13-6.13-1.5-5.61%203.34-9.54%203.86-14.61.5-7.9.41-15.81-.3-23.67-.48-5.28-.95-10.54.1-15.77.7-3.5-1.93-6.27-1.69-9.6-1.01-4.6.3-9.19.1-13.81-.19-4.34.23-8.75-4.22-11.52-.89-.55-.78-1.76-1.06-2.69-.55-1.18-1.51-1.65-2.78-1.59-10.66%201.23-21.26-1.12-31.82-.79-15.54.5-31.19.69-46.56%203.78-1.47.3-2.94.59-4.45.51-7.22%201.12-14.58.78-21.8%201.93-8.2.22-16.39.5-24.97.3%202.57%202.04%202.28%204.26%202.45%206.34%201.52%2018.58.43%2037.27%202.67%2055.83%201.98%2016.35%202.19%2032.84%203.08%2049.27.22%203.9-.94%204.76-4.66%204.61-10.53-.42-10.43-.26-10.49-11.06-.23-37.8-3-75.46-5.31-113.15%202.91-2.59%206.67-1.47%209.99-2.24%201.41-.33%202.976-.07%204.406-.62%203.48-.31%206.75%201.24%2010.21%201.1.555-.07%201.11-.12%201.66-.19%203.79.2%207.564%201.06%2011.39.33%2014.72-2.83%2029.75-2.99%2044.57-5.07%202.75%201.32%205.57.6%208.35.23%2010.1-1.32%2020.284-1.1%2030.42-1.72%203.424-.21%206.826-.42%2010.21-.89%2010.5.16%2020.935-.29%2030.99-3.81.78-.27%201.46-.75%202.17-1.18%22/%3E%3Cpath%20fill%3D%22%23FDFEFE%22%20d%3D%22M180.79%2016.884c-16.53%201.512-33.106%202.134-49.608%203.97-17.864%201.987-35.83%202.934-53.814%202.892-22.308-.052-44.577.917-66.838%202.116-4.4.237-5.66-1.278-5.65-5.662.008-4.342%201.43-5.096%205.495-5.094%2041.43.016%2082.862.188%20124.243-2.476%2012.12-.78%2024.28-.942%2036.42-1.4%201.16-.044%202.343-.05%203.47-.29%207.123-1.51%207.12-1.53%206.283%205.944%22/%3E%3Cpath%20fill%3D%22%23E0E1E3%22%20d%3D%22M87%2031.88c-2.692-1.236-5.303-.55-8.135-.245-11.922%201.274-23.8%203.19-35.83%203.286-2.068.95-4.108.3-6.244.45%201.24-7.47%201.25-7.33%207.94-7.46%203.42-.07%206.98.83%2010.27-.93%2012.5-.28%2024.99-.59%2037.49-.82%201.29-.02%202.58.38%203.87.58-2.21%203.36-6.92%202.17-9.34%205.15%22/%3E%3Cpath%20fill%3D%22%23E8E9EA%22%20d%3D%22M87%2031.88c2.146-3.47%205.383-4.96%209.34-5.146%2012.79-.98%2025.582-1.957%2038.373-2.934%201.605-.686%203.275-.338%204.925-.306%201.956%202.398-.08%203.31-1.638%204.404-9.187%201.65-18.527%201.8-27.772%201.755-7.89-.04-15.56.69-23.228%202.228%22/%3E%3Cpath%20fill%3D%22%23DBDDDE%22%20d%3D%22M188.04%2093.916c1.22%202.138.976%204.497.95%206.798-.026%202.585.197%204.993%203.443%206.29-3.337%201.654-3.875%203.973-3.072%206.964%201.85-1.613%202.61-5.82%205.13-4.387%203.08%201.75%201.07%205.03-.55%207.35-1.43%202.05-1.43%203.92-.19%205.98%202.09%203.46%201.19%207.44%201.84%2011.15.22%201.26-.25%202.4-1.45%202.89-3.16%201.29-4.04%204.15-5.05%206.96-.9-16.64-1.16-33.3-1.04-49.97%22/%3E%3Cpath%20fill%3D%22%23ECEDEE%22%20d%3D%22M138%2027.898l2.015-3.948c3.806-1.794%208.044-1.116%2011.993-2.095%205.997-.304%2011.994-.608%2017.99-.91-1.822%204.772-5.22%205.983-10.3%206.215-7.23.332-14.44%201.085-21.698.738%22/%3E%3Cpath%20fill%3D%22%23D8D9DB%22%20d%3D%22M65.002%20165.905c-3.748-.19-7.494-.462-11.244-.55-3.612-.086-7.196-.08-9.727-3.288%2012.34-.49%2024.64.196%2036.96.766.97%203.636-1.34%203.938-3.85%203.514-4.04-.683-8.05-1.04-12.12-.442%22/%3E%3Cpath%20fill%3D%22%23E2E3E4%22%20d%3D%22M54.987%2026.976c-4.247%203.7-9.518%201.262-14.205%202.314-.74%201.843%201.75%201.165%201.688%202.696-.672%201.632-3.18-.238-4.164%201.906%201.212%201.634%203.142.76%204.727%201.03-3.68%202.06-7.352-.08-11.028-.022-.332-.808-.668-.448-1.005-.004l-11.01.044c-1.072-3.715%203.443-4.214%204.02-6.98%202.795-.54%205.585-1.465%208.407-.12%206.816-1.215%2013.747.342%2020.565-.845l2.005-.02%22/%3E%3Cpath%20fill%3D%22%23CCCED0%22%20d%3D%22M108.945%20161.8c.774%201.026%202.076%201.96%201.1%203.452-.857%201.31-2.266%201.04-3.616.992-8.07-.277-15.53-4.68-23.8-3.468%208.73-1.218%2017.53-.947%2026.31-.977%22/%3E%3Cpath%20fill%3D%22%23E0E1E3%22%20d%3D%22M24.01%2027.96c2.005%204.253-1.152%205.533-4.02%206.98l-14.36.05c-.784-.377-.627-.824-.097-1.3%203.01-2.632%206.21-4.964%2010.498-4.01%202.14.474%203.14-1.657%204.97-1.624l3.01-.097%22/%3E%3Cpath%20fill%3D%22%23C8CACC%22%20d%3D%22M20.997%2028.056l-3.863%204.914c-1.497-2.448-3.27-4.14-5.67-.748-1.454%202.055-3.803%201.562-5.93%201.468-1.01-3.98.426-5.334%204.564-5.032%203.6.263%207.264-.367%2010.9-.602%22/%3E%3Cpath%20fill%3D%22%23CED0D1%22%20d%3D%22M144.016%20162.048c-.01.95-.02%201.902-.032%202.854-5.232.417-9.967-2.84-15.29-1.992-3.278.523-6.714%201.726-9.694-1.002l25.016.14%22/%3E%3Cpath%20fill%3D%22%23515254%22%20d%3D%22M64.99%2041.797l-20.03%201.98-2.095-.937c3.558-2.04%207.465-2.212%2011.407-2.04%203.29.145%206.55.096%209.755-.768.637.416%201.49.714.964%201.765%22/%3E%3Cpath%20fill%3D%22%23B5B7B9%22%20d%3D%22M192.92%20152.998c.11%201.98%203.128%203.202%201.896%205.256-1.12%201.867-3.33.543-5.07.526.15-2.295-1.81-4.63.13-6.892l3.044%201.11%22/%3E%3Cpath%20fill%3D%22%23D8D9DB%22%20d%3D%22M42.99%20162.055c-1.334%206.35-4.98%202.73-7.99%201.852l-5.202-1.083c4.344-1.176%208.78-.773%2013.193-.77%22/%3E%3Cpath%20fill%3D%22%23DBDCDD%22%20d%3D%22M152.008%2021.854c-3.986.767-7.65%203.372-11.993%202.095l-5.302-.15c5.662-1.57%2011.49-1.66%2017.295-1.95%22/%3E%3Cpath%20fill%3D%22%23E0E1E3%22%20d%3D%22M52.982%2026.995c-6.787%201.924-13.712.494-20.565.845%206.793-1.775%2013.714-.472%2020.565-.845%22/%3E%3Cpath%20fill%3D%22%23FEFEFE%22%20d%3D%22M632.994%2026.01c27.14-.187%2054.266-1.568%2081.416-.937%203.84.09%206.02.944%206.017%205.845-.012%2016.312.81%2032.622.97%2048.936.223%2022.514%203.186%2044.82%204.81%2067.227.35%204.81-1.32%205.62-5.4%205.53-23.966-.52-47.945-.63-71.902-1.42-24.984-.83-49.913%201.4-74.88.77-3.83-.1-7.66-.14-11.49-.12-7.164.06-8.02-.67-8.393-8.1-.643-12.8-1.11-25.61-1.807-38.42-1.278-23.45-1.862-46.91-2.284-70.39%201.61-3.74%204.91-3.36%208.07-3.32%206.58.44%2013-2.04%2019.61-1.11%2019.32%201.5%2038.66%201.04%2058.01.53%205.29-.14%2010.5.38%2015.81-.82%203.1-.7%206.39%201.27%209.77%201.38%208.62.27%2017.21-.09%2025.81-.22%205.13-.07%2010.53.82%2015.77%201.5%202.49.32%204.94.54%207.41.31.46-.09.93-.17%201.37-.26.74-.35%201.71-.64.33-1.53-2.64-.73-5.29-.53-7.94-.36-4.32.56-8.62.51-12.94-.08-8.6-1.18-17.25.17-25.89-.44-9.56-.67-19.17.11-28.76-.32-1.48-.07-3.07.12-4.33-.85-2.21-1.69-1.1-2.63.88-3.27m1.47-4.11c-26.81%201.28-53.62%202.47-80.44%201.66-1.66-.05-4.17.89-4.79-1.44-.8-3.04-1.13-6.4.04-9.35.65-1.63%203.04-.75%204.63-.78%2020.16-.35%2040.2%202.7%2060.39%201.94%2028.3-1.07%2056.62.04%2084.93-.15%205.32-.03%2010.65-.29%2015.95-.73%203.07-.255%205.1-.23%204.99%203.83-.09%203.44-.28%205.21-4.74%205.168-26.98-.27-53.96-.13-80.95-.13%22/%3E%3Cpath%20fill%3D%22%23EDEEEE%22%20d%3D%22M712.003%2034.894c-17.35-.25-34.71-.24-52.05-.81-24.55-.803-49.094.246-73.638-.198-2.803-.05-5.688.478-8.336-.963.53-2.298%202.55-2.112%204.21-2.545%202.77-.722%205.84-.78%207.81-3.374%2014.31-1.03%2028.64-1.404%2042.99-.994-.9%201.232-.46%201.763.94%201.772%2014.42.098%2028.85.575%2043.26.152%209.33-.275%2018.52%201.533%2027.81.983%201.02%201.08%202.17%201.757%203.71%202.116%201.81.42%203.8%201.22%203.28%203.86%22/%3E%3Cpath%20fill%3D%22%23E6E7E8%22%20d%3D%22M590.005%2027.004c.97%204.02-1.838%204.796-4.71%205.267-2.41.4-4.875.45-7.316.66-6.7-.45-13.33.49-19.98.99-1.28-3.5.18-4.55%203.63-5.5%205.78-1.58%2011.62-.29%2017.34-1.36l11.03-.05%22/%3E%3Cpath%20fill%3D%22%23DEDFE1%22%20d%3D%22M578.98%2027.048c-5.113%202.023-10.842-.243-15.98%202.53-2.127%201.146-4.057%202.028-5%204.33-2.68.09-5.413-.232-7.95%201-.23-2.605-.458-5.21-.69-7.86h29.62z%22/%3E%3Cpath%20fill%3D%22%23D5D6D8%22%20d%3D%22M724.067%2030.916c3.264%202.783%203.274%205.274%201.77%209.692-1.822%205.336-.64%2011.693-.768%2017.608-.04%201.65-.11%203.297-.17%204.945-1.47-10.71-.57-21.49-.84-32.24%22/%3E%3Cpath%20fill%3D%22%23C5C7C9%22%20d%3D%22M591.334%20155.745l-13.27.42c-6.48-.136-12.96-.272-19.44-.41%2010.902-1.134%2021.806-1.038%2032.71-.01%22/%3E%3Cpath%20fill%3D%22%23FCFCFC%22%20d%3D%22M399.49%2019.866l6.65%205.085c-4.588%206.38-10.506%2011.43-15.76%2017.06-7.14%207.65-14.45%2015.14-21.694%2022.68-1.353%201.41-2.63%203.45-4.958%201.87-2.62-1.78-.55-3.86.458-5.08%208.678-10.48%2017.55-20.79%2026.37-31.16%202.895-3.4%205.803-6.78%208.935-10.44%22/%3E%3Cpath%20fill%3D%22%233B3A3B%22%20d%3D%22M412.18%2035.242c1.227-2.627-.07-5.948%201.948-8.26%201.41%200%201.785.74%201.73%201.62-.464%207.46-1.324%2014.912-1.38%2022.372-.07%209.297.16%2018.626.89%2027.89%201.626%2020.59%201.79%2041.23%202.75%2061.84.072%201.53.002%202.996-.975%204.272-1.318.687-2.484.35-3.562-.53-2.19-4.18-.51-8.686-.84-13.013-.25-3.344.11-6.914.27-10.378-.28-13.91-1.05-27.81-1.01-41.73l-.05-2.604c-1.73-2.93-.81-6.14-.88-9.22-.15-6.12-.04-12.25-.04-18.37.58-4.61-1.26-9.43%201.18-13.88%22/%3E%3Cpath%20fill%3D%22%23D0D2D3%22%20d%3D%22M336.022%20154.797l.978-2.814c6.81-.72%2013.626-.543%2020.443-.13%206.217-.996%2012.478-.154%2018.71-.46%201.948-.096%203.95.454%205.837-.45l15.024-.012c1.895%201.28%204.306-.4%206.165%201.08-4.54%201.38-9.19%201.17-13.83.99-4.73%201.12-9.6-.28-14.33.79l-10.53.2c-6.86%201-13.76-.12-20.62.42-1.95.16-3.95-.38-5.86.38l-2.01.01%22/%3E%3Cpath%20fill%3D%22%23EDEEEE%22%20d%3D%22M413.858%20120.918c.05%206.06.046%2012.124.188%2018.183.04%201.72-.695%203.65.88%205.13%201.78%203.59%201.22%206.28-2.935%207.56l-2.01-.01c-.67-.42-1.62-.7-.96-1.83%202.63-4.26%202.48-9.27%202.52-13.82.05-5.73.76-11.42.61-17.15%201.91-.53%201.01%201.42%201.72%201.94%22/%3E%3Cpath%20fill%3D%22%23CDCFD0%22%20d%3D%22M411.832%2048.84l.096%2027.883c-2.633-.885-1.76-3.046-1.78-4.883.583-4.622.55-9.245.027-13.87.12-9.754-.758-19.532.708-29.254%201.32%204.857.276%209.814.616%2014.713.12%201.8-.3%203.63.33%205.41%22/%3E%3Cpath%20fill%3D%22%23CBCCCE%22%20d%3D%22M413.858%20120.918l-1.716-1.94c-.39-9.45-.764-18.898-1.175-28.346-.166-3.82.075-7.592%201.017-11.307%201.635%204.343.924%208.885%201.078%2013.344.325%209.41.537%2018.83.796%2028.24%22/%3E%3Cpath%20fill%3D%22%23F2F3F3%22%20d%3D%22M407%2011.454c2.556-5.338%206.077-4.688%209.95-2.934.04%202.468-1.212%204.356-3.016%206.5-2.05-1.48-4.102-3.053-6.934-3.566%22/%3E%3Cpath%20fill%3D%22%23E9EAEB%22%20d%3D%22M408.27%2023.486c-2.86-2.176-5.422-3.56-7.16-6.125%204.202-1.33%207.478%201.22%207.16%206.13%22/%3E%3Cpath%20fill%3D%22%23CCCED0%22%20d%3D%22M381.99%20150.94c-8.117%202.05-16.365.535-24.545.91%208.145-1.277%2016.354-.832%2024.545-.91%22/%3E%3Cpath%20fill%3D%22%23EDEDEE%22%20d%3D%22M411.832%2048.84c-1.834-6.636-.078-13.442-.95-20.124a1.01%201.01%200%200%201%20.073-.825c1.487%202.28.778%204.91%201.224%207.36l-.35%2013.6%22/%3E%3Cpath%20fill%3D%22%23EBECED%22%20d%3D%22M409.016%20149.947l.96%201.828-6.796.234c-2.068-.29-4.242.03-6.165-1.08l12-.99%22/%3E%3Cpath%20fill%3D%22%23E5E6E7%22%20d%3D%22M410.175%2057.97c1.142%204.625%201.328%209.25-.025%2013.87l.025-13.87%22/%3E%3Cpath%20fill%3D%22%23CCCECF%22%20d%3D%22M411.99%20151.786c2.447-1.952%202.42-4.863%202.934-7.564.74.25%201.48.502%202.22.755.264.448.53.898.793%201.34-.625%202.18-1.247%204.368-1.87%206.554-1.062-1.47-2.638-1.02-4.076-1.08%22/%3E%3Cpath%20fill%3D%22%23F0F1F1%22%20d%3D%22M339.03%20158.006c14.548-.43%2029.095-.86%2043.64-1.288l4.274.557.018.782c-6.133.548-12.34%201.955-18.38%201.44-8.77-.746-17.536%201.097-26.23-.55-1.127-.212-2.215-.622-3.32-.94%22/%3E%3Cpath%20fill%3D%22%23CECFD1%22%20d%3D%22M398.994%20155.954l1.715-.16c5.59-.707%205.59-.707%205.29%203.073-1.54%201.165-2.05%204.16-4.87%203.005-2.76-1.126-1.97-3.744-2.14-5.918%22/%3E%3Cpath%20fill%3D%22%23BFC1C3%22%20d%3D%22M406%20158.867c-.47-3.252-3.11-2.763-5.29-3.072%203.347-1.312%206.836-.635%2010.27-.732-1.146%201.06-1.928%202.302-1.986%203.914l-2.995-.11%22/%3E%3Cpath%20fill%3D%22%23CFD1D2%22%20d%3D%22M338.973%20164.932c1.455-2.602%202.856-5.72%205.6-.002h-5.6v.002%22/%3E%3Cpath%20fill%3D%22%23CCCED0%22%20d%3D%22M338.032%20154.787c8.767-2.108%2017.636-.853%2026.47-.8-8.782%201.562-17.644.606-26.47.8m36.996-1c4.694-1.7%209.542-.613%2014.322-.786-4.71%201.39-9.543.61-14.322.79%22/%3E%3Cpath%20fill%3D%22%23B8BABC%22%20d%3D%22M332.014%2077.04c.64%203.638-.79%205.335-4.57%205.153-1.638-.078-3.375.083-4.434%201.725-1.623%202.028-2.138%202.027-5.02-.015-.82-4.804.318-7.68%206.076-6.843%202.594.377%205.295.01%207.948-.02%22/%3E%3Cpath%20fill%3D%22%23D0D1D3%22%20d%3D%22M317.99%2083.904c1.672.245%203.343%201.17%205.02.015h6.076l-4.05%201.83c-2.167-1.31-5.995%203.72-7.047-1.85%22/%3E%3Cpath%20fill%3D%22%23383738%22%20d%3D%22M149.016%2037.068c.972-.044%201.942-.09%202.915-.136%204.77%2011.553%203.61%2023.59%202.91%2035.59-.19%203.4%202.06%206.498%201.24%209.97-1.03%2011.02-.72%2022.052-.17%2033.084.41%203.085.3%205.99-1.16%208.954-.78%201.588-.51%203.803.12%205.7.33%204.965.67%209.93.98%2014.894.09%201.422.73%203.484-1.31%203.674-2.33.216-1.53-2.067-1.66-3.353-2.93-28.946-3.09-57.99-3.07-87.042%200-6.8-.53-13.6-.82-20.4-.7-.355-.68-.667.06-.935%22/%3E%3Cpath%20fill%3D%22%23353335%22%20d%3D%22M107.985%2050.714c2.566%204.45-1.408%203.992-3.417%204.024-14.804.23-29.476%202.205-44.22%203.18-7.45.49-14.864%201.528-22.302%202.22-1.913.177-4.143.65-4.933-2.063.757-2.358%202.47-3.51%204.85-3.55%203.832-.063%207.538-.897%2011.264-1.55%204.926.763%209.592-1.143%2014.463-1.38%2014.762-.725%2029.484-2.726%2044.295-.88%22/%3E%3Cpath%20fill%3D%22%23E9EAEB%22%20d%3D%22M76.023%2067.9c2.236%202.436%205.054.726%207.586%201.05%201.32.168%202.92.045%203.41%201.535.6%201.855-1.06%202.48-2.3%203.336-5.15%203.57-11.13%202.88-16.88%203.42-5.95.56-11.91%201.12-17.86%201.67-2.32-2.28-5.23-2.64-8.3-2.76-1.81-.07-3.63-.48-5.25-1.45-1.51-4.72%202.06-4.38%204.81-4.78%2011.59-.33%2023.19-.79%2034.75-2.01%22/%3E%3Cpath%20fill%3D%22%23EAEAEB%22%20d%3D%22M154.018%20115.903c-1.63-10.957-1.5-21.97-1.03-32.992.47-4.55%201.342-9.04%202.393-13.5.42-1.75.63-3.64%202.62-4.49.33%201.44.97%202.88.94%204.31-.33%2016.25%201.8%2032.44%201.05%2048.69-2.86%201.95-4.02-1.19-5.95-2%22/%3E%3Cpath%20fill%3D%22%23414042%22%20d%3D%22M62.09%2088.69c.133.304.327.594.39.91%202.04%2010.02%202.04%2010.105%2012.24%2010.16%2019.455.104%2038.912.543%2058.358-.66%204.308-.266%208.814-.705%2012.788%201.374%200%201.287-.486%201.71-1.21%201.693-25.277-.577-50.546%201.324-75.84.05-5.547-.28-8.454-1.358-7.687-7.354.12-.977-.02-1.987-.04-2.982.87-.89-.27-2.41.99-3.19%22/%3E%3Cpath%20fill%3D%22%23E2E3E4%22%20d%3D%22M107.985%2050.714c-17.773-.363-35.313%202.525-52.968%203.807-1.978.15-3.955.29-5.933.43-2.494%201.29-5.035-.66-7.697.19-1.234.4-3.32-.79-2.404-3.18C56.1%2050.38%2073.2%2048.7%2090.43%2048.67c5.998-.01%2011.828.276%2017.555%202.047%22/%3E%3Cpath%20fill%3D%22%23DFE0E2%22%20d%3D%22M157.992%2064.92c.785%206.68-3.984%2011.813-5.005%2017.99-.28-15.328.282-30.675-1.057-45.978%207.196%208.208%206.135%2018.205%206.062%2027.987%22/%3E%3Cpath%20fill%3D%22%23373637%22%20d%3D%22M76.023%2067.9c-.23%202.186-1.917%201.707-3.348%201.958-10.485%201.835-21.135%201.18-31.67%202.198-3.024-.158-6.056%202.133-9.07-.037-.978-1.58-1.67-3.42%201.022-3.57%2013.49-.76%2026.99-1.34%2040.49-1.88.84-.04%201.716.85%202.576%201.32%22/%3E%3Cpath%20fill%3D%22%234B4B4D%22%20d%3D%22M149.016%2037.068c-.008.313-.028.624-.058.935-28.01.78-56.162-1.548-83.966%203.793-.322-.588-.644-1.175-.965-1.765%2028.186-5.13%2056.57-4.54%2084.99-2.96%22/%3E%3Cpath%20fill%3D%22%233F3E40%22%20d%3D%22M87.19%20122.995c-6.47%203.163-47.604%201.356-51.17-1.867%2016.99-1.218%2033.29%201.822%2051.17%201.867%22/%3E%3Cpath%20fill%3D%22%23414042%22%20d%3D%22M111.124%20119.96c10.498-.033%2020.964-3.484%2032.405-.18-5.77%202.385-29.35%202.733-32.41.18%22/%3E%3Cpath%20fill%3D%22%23E2E3E4%22%20d%3D%22M37.96%2073.93c1.494-.075%203.083.15%204.468-.28%204.9-1.523%207.752-.394%207.572%205.257-5.933%201.11-11.81%203.304-17.924.937%201.3-2.63%204.08-3.785%205.883-5.914%22/%3E%3Cpath%20fill%3D%22%233E3D3F%22%20d%3D%22M105.84%20130.137c4.313-4.357%2027.173-4.61%2033.415-.707-11.56-.266-21.852-.084-33.414.707%22/%3E%3Cpath%20fill%3D%22%23383738%22%20d%3D%22M62.09%2088.69l-.997%203.19c-.446-2.2-2.004-2.13-3.795-2.078-8.78.26-17.565.394-26.348.6-1.427.033-3.078.678-3.47-2.093%203.134-1.06%206.427-.57%209.613-.66%207.61-.22%2015.247.87%2022.842-.47%201.108-.2%201.937.28%202.155%201.5%22/%3E%3Cpath%20fill%3D%22%23444446%22%20d%3D%22M60.135%20139.396c-6.084%201.415-12.342.694-18.385%202.066-1.05.24-1.87-.53-1.885-1.753-.012-1%20.584-1.55%201.515-1.59%206.285-.27%2012.607-.99%2018.755%201.27%22/%3E%3Cpath%20fill%3D%22%23CCCDCF%22%20d%3D%22M37.96%2073.93c.17%204.094-1.836%206.02-5.885%205.915-1.685-2.58-2.62-5.172-.14-7.826l9.07.03c-.732%201.08-2.892-.15-3.046%201.87%22/%3E%3Cpath%20fill%3D%22%23474749%22%20d%3D%22M111.014%20133.57c6.782%201.283%2012.74-1.947%2019.417.483-8.1%203.74-17.08%203.72-19.41-.483%22/%3E%3Cpath%20fill%3D%22%23E1E2E3%22%20d%3D%22M154.018%20115.903c2.664-1.347%204.127.87%205.955%202.006-.063%202.3-.98%204.43-2.744%205.64-2.61%201.78-1.93%204.34-2.38%206.68-1.45-4.71-.77-9.54-.84-14.33%22/%3E%3Cpath%20fill%3D%22%23CED0D1%22%20d%3D%22M38.983%2051.95c.7.914%201.84%202.602%202.496%202.053%203.05-2.55%205.09.698%207.6.944-3.69%201.64-7.72.82-11.53%201.592-1.58.31-3.29.05-4.44%201.53-.34-4.24%201.63-6.27%205.87-6.13%22/%3E%3Cpath%20fill%3D%22%2357585A%22%20d%3D%22M54.858%20145.258c-4.587%201.584-8.192%201.393-11.77%201.31-.956-.024-2.127-.28-2.154-1.553-.04-1.844%201.408-1.515%202.48-1.34%203.45.565%207.14-.637%2011.444%201.583%22/%3E%3Cpath%20fill%3D%22%23474749%22%20d%3D%22M57.263%20129.582c-4.173%203.343-11.18%203.36-15.125.24%205.187-1.313%209.683.315%2015.125-.24%22/%3E%3Cpath%20fill%3D%22%23E0E1E3%22%20d%3D%22M31%2034.896c.16-1.79-2.07-3.294-.848-5.085.8-1.16%202.38-.88%203.684-.8.994.06%202.11.21%202.32%201.38.248%201.38-1.01%201.93-1.862%202.65-.75.64-1.525%201.25-2.29%201.86H31%22/%3E%3Cpath%20fill%3D%22%23363536%22%20d%3D%22M688.94%2050.103c-29.272-2.23-58.498-.49-87.73.964-7.942.395-15.892.9-23.838.884-4.006%200-4.696%201.61-4.46%205.09%201.48%2021.92%202.9%2043.83%205.443%2065.66.98%208.42%201.193%2016.92%201.74%2025.38.055.83.033%201.68-2.492%202.51-1.513-33.59-6.843-66.47-7.303-99.86%201.36-1.31%203.17-.32%204.69-.84%202.83-3.77%207.01-2.08%2010.61-2.46%201.58-.16%203.27.36%204.93.05l1.69-.3c2.32-.47%204.658-.3%207-.19%2011.32-.9%2022.68-.77%2033.987-1.43%2012.278-.72%2024.553-.54%2036.82-.96%205.203%202.6%2010.82%203.11%2016.507%203.26%201.327.25%203.04-.93%203.894%201.06-.055.93-.545%201.35-1.48%201.23%22/%3E%3Cpath%20fill%3D%22%23E8E9EA%22%20d%3D%22M670.012%2047.033c-22.884-.676-45.71.704-68.538%201.957-1.484.08-2.975.02-4.462.024-1.375-1.712-2.72-1.64-4.038.068l-.25.097-.217-.17c-2.236.45-4.467.79-6.68-.11-.09-2.57%202.784-2.94%203.164-4.95%2020.27-.36%2040.55-.44%2060.81-1.17%2010.76-.39%2021.47-1.88%2032.21-2.88%201.37%202.47-1.45%203.27-2%204.98-1.6.04-3.15.2-3.98%201.87-1.96%201.09-3.98.73-6%20.25%22/%3E%3Cpath%20fill%3D%22%23393739%22%20d%3D%22M695.903%20133.1c-.598%205.176%201.59%2010.535-.65%2015.643-4.426-29.846-2.37-59.97-5.404-89.81-.66-1.77-.29-3.61-.33-5.415-.03-1.25-.36-2.934%201.63-2.95%201.39-.01%202.43.818%202.73%202.35.41%202.14%201.43%204.097%201.92%206.22-.02%205.292-.53%2010.596.53%2015.847.46%202.496-.85%204.88-.44%207.367-.29%207.612.08%2015.216.58%2022.81.53%208.21%201.76%2016.42-.87%2024.525a4.394%204.394%200%200%200%20.28%203.412%22/%3E%3Cpath%20fill%3D%22%23323032%22%20d%3D%22M592.37%20124.597c-1.43-4.034.42-8.072-.215-12.307%209.168-.48%2017.93-.856%2026.68-1.432%204.8-.315%206.163%202.09%205.733%206.352-.213%202.115-.3%204.243-.454%206.495-10.582-.732-20.866.16-31.745.892%22/%3E%3Cpath%20fill%3D%22%23DFE0E1%22%20d%3D%22M695.903%20133.1c-.285-1.45-.79-2.892-.822-4.346-.35-15.618-.62-31.237-.92-46.856.85-1.068%201.76-2.044%203.29-1.32%201.43.676%201.51%201.91%201.39%203.32-.44%205.06-.66%2010.12%201.18%2015.007h.01c-.91%204.422-.37%208.737.96%2012.994%200%20.66-.01%201.32-.01%201.98-3.29%202.68-.91%205.35.01%208.03.09%202.99.25%205.94-3.31%207.37-1.6.64-1.42%202.41-1.75%203.81%22/%3E%3Cpath%20fill%3D%22%233D3C3E%22%20d%3D%22M587.968%2076.758c11.79-3.554%2054.59-2.94%2057.53%200h-57.53z%22/%3E%3Cpath%20fill%3D%22%23E6E7E8%22%20d%3D%22M700.01%2098.904c-4.35-2.668-5.577-5.966-3.33-10.95.64-1.422%203.635-6.34-2.52-6.056-.04-2.33-.08-4.66-.122-6.99%201.91-1.978%201.793-4.508%201.89-6.978.082-2.066-.16-4.365%203.07-4.023%201.187%2011.64%201.907%2023.296%201.012%2034.998%22/%3E%3Cpath%20fill%3D%22%23DFE0E1%22%20d%3D%22M588.99%2043.96c.99%201.743.045%203.02-1.147%204.29%201.482%201.13%203.16.428%204.662.767-5.783%201.39-11.662.876-17.516.86l-4.35-4.05c6.09-4.25%2012.59.185%2018.34-1.866%22/%3E%3Cpath%20fill%3D%22%23DDDEDF%22%20d%3D%22M699%2063.907c-1.585%201.993-.404%204.425-1.05%206.59-.636%202.134-1.435%203.977-3.912%204.412-.393-5.32-1.363-10.61-.775-15.97%201.143-.87%201.364-1.98%201.34-3.42-.034-2.1.993-3.4%203.398-2.62%201.77%203.53.79%207.32%201%2011%22/%3E%3Cpath%20fill%3D%22%233F3F41%22%20d%3D%22M616.076%2092.66c-7.525.445-15.05.906-22.577%201.317-.92.05-1.59-.43-1.5-1.507.07-.794.62-1.15%201.32-1.175%207.56-.267%2015.13-1.344%2022.74%201.365%22/%3E%3Cpath%20fill%3D%22%23CACBCD%22%20d%3D%22M698%2052.907c-2.384%201.38-.758%205.908-4.737%206.036l-1.674-8.704c-2.87%203.21-.91%206.19-1.74%208.69-1.34-2.84-.9-5.86-.91-8.83l1.47-1.23c2.66%201.09%206.96-.89%207.58%204.03%22/%3E%3Cpath%20fill%3D%22%23D8DADB%22%20d%3D%22M714.027%2027.992c2.917.083%204.267%201.64%203.62%204.433-.547%202.35-1.994%203.758-4.67%202.52-3.09-2.836-1.315-4.94%201.05-6.953%22/%3E%3Cpath%20fill%3D%22%23E2E3E4%22%20d%3D%22M714.027%2027.992c-.937%202.23-2.025%204.436-1.05%206.954-.324-.014-.65-.03-.974-.05-2.006-2.375-6.975-1.28-6.995-5.978%203.028-.098%206.1.237%209.02-.926%22/%3E%3Cpath%20fill%3D%22%234E4F51%22%20d%3D%22M605.48%20102.618c-4.228.2-8.533%201.365-12.564-.96.035-.557.07-1.116.103-1.674l12.52%201.096-.07%201.538%22/%3E%3Cpath%20fill%3D%22%23EAEBEC%22%20d%3D%22M700.97%20121.914c-.74-.64-1.39-1.495-2.245-1.878-2.214-.988-2.82-2.803-2.32-4.82.668-2.693%203.03-.856%204.558-1.334l.008%208.032%22/%3E%3Cpath%20fill%3D%22%23E6E7E8%22%20d%3D%22M700.974%20111.9c-2.01-4.208-5.845-8.28-.96-12.996%201.36%204.255.377%208.683.96%2012.995%22/%3E%3Cpath%20fill%3D%22%23E0E1E3%22%20d%3D%22M680%2044.9c-2.978-3.124.424-3.688%201.998-4.984.316-.033.63-.06.948-.078%201.55.773%203.538.968%204.075%203.082-2.17%201.264-4.57%201.704-7.02%201.98%22/%3E%3Cpath%20fill%3D%22%23D4D6D7%22%20d%3D%22M687.02%2042.92c-2.052-.11-3.54-.963-4.073-3.082%202.96-1.093%205.153-1.17%204.074%203.08%22/%3E%3Cpath%20fill%3D%22%23464648%22%20d%3D%22M670.012%2047.033l6.005-.256c3.468.673%207.095-.268%2010.504%201.036-5.51-.077-11.07.92-16.5-.78%22/%3E%3Cpath%20fill%3D%22%23DFE0E1%22%20d%3D%22M592.975%2049.08c-.375-1.38-1.104-2.894.74-3.753%201.185-.55%202.625-.77%203.65.175%201.242%201.153-.028%202.35-.354%203.513-1.33.532-2.68.59-4.03.07%22/%3E%3Cpath%20fill%3D%22%23C1C3C5%22%20d%3D%22M595.343%20120.553c-.698-3.32-.11-5.23%203.73-5.368%206.615-.238%2013.216-.872%2019.825-1.323%201.99-.136%203.195.526%202.916%202.828-.22%201.82-.05%203.852-2.734%203.858-7.914.015-15.827.005-23.737.005%22/%3E%3C/g%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: bottom 15% left 5%;
      background-size: 45%;
      min-height: 0;
    }

    @include media($desktop) {
      background-position: bottom 10% left 5%;
      background-size: 40%;
      min-height: 18em;
    }

    .site-description {
      @include media($tablet) {
        width: 40%;
        float: right;
        margin-top: 2.5%;
        margin-right: 5%;
      }

      @include media($desktop) {
        width: 45%;
        float: right;
        margin-top: 5%;
        margin-right: 5%;
      }
    }
  }
}

.no-svg {
  .hero {
    background-image: url('/assets/hero.png');
    background-repeat: no-repeat;
    background-position: 25% 50%;
  }
}


// Logo styling for the homepage (h1), and internal site header logo (anchor).
.page-header__logo {
  padding-top: 0;
  margin-bottom: $tiny-spacing;

  @include media( $tablet ) {
    padding-bottom: 10em;
    padding-bottom: $base-spacing;
    height: rem( 102 );
    margin-bottom: $base-spacing;
  }

  .logo {
    display: inline-block;
    position: relative;
    border-bottom: none;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    img {
      max-height: 80px;
    }

    svg {
      position: absolute;
      top: 0;
      width: rem(48);
      height: auto;

      @include media($tablet) {
        width: rem(64);
      }
    }

    span,
    h1 {
      font-size: rem(26);
      line-height: $base-leading;
      display: inline-block;
      margin-top: rem(50);
      margin-left: rem(60);

      @include media($tablet) {
        margin-top: rem(50);
        margin-left: rem(80);
      }

      &:hover,
      &:focus {
        background-color: $light-aqua;
        color: $link-colour;
      }
    }
  }
}


.page-header, .hero {
  .site-search {
    margin-bottom: 1em;
    margin-top: 1.6em;

    @include media( $tablet ) {
      margin-top: 2.6em;
      float: right;
      max-width: 40%;
    }
  }
}



.site-search .site-search-border {
  border: solid 2px #bbbbbb;
  border-radius: 3px;
  padding-right: 3em;
}

//VARS
//=================
$site-search-border:                          solid 2px $border-colour; //none;
$site-search-font-colour:                     $navy;
$site-search-label-colour:                    $non-white; //Only seen with no JS
$site-search-background-colour:               $non-white;
$site-search-background-colour--hover:        darken($non-white, 5%);
$site-search-button-background-colour:        $non-white;
$site-search-button-background-colour--hover: darken($non-white, 5%);
$site-search-outline--focus:                  $light-aqua;

.site-search {
  color: $site-search-font-colour;

  form {
    position: relative; // for psudo placeholder label
    // height: 3em; //No height ie7. position:relative ?
  }

  input {
    //both text-input and button
    transition-timing-function: $transition-easing;
    transition-duration: $transition-timing-fast;
    transition-property: background-color;
  }

  label {
    // Acts as a psudo placeholder with JS, or normal label if no JS
    // see JS related styles below nested parent
    height: 3em;
    line-height: 3em;
    margin: 0;
    cursor: text;
  }

  .site-search-border {
    // Provides an option for a border around the search-box and a place to put the clearfix that doesn't interfere with other elements.
    // This CSS is not on the form or .site-search parent because the label should not be included
    @include ie-clearfix;

    border: $site-search-border;
    border-radius: $base-border-radius;
    //width: 100%;
    padding-right: 3em;
  }

  .search-input {
    -webkit-appearance: none; //Cause iPhone
    position: relative; //For z-index on focus if JS
    z-index: 1; //For z-index on focus if JS
    display: block;
    width: 100%;
    float: left;
    border: none;
    padding: 0;
    text-indent: 1em;
    line-height: 3em;
    height: 3em;
    background-color: $site-search-background-colour;
    border-radius: $base-border-radius 0 0 $base-border-radius;

    &:hover {
      background-color: $site-search-background-colour--hover;
    }

    &:focus {
      outline: solid 3px $site-search-outline--focus;
    }

    &:focus,
    &.has-value { // Class is added with JS
      z-index: 3; //For z-index on focus
    }

    &:hover:focus  {
      background-color: $site-search-background-colour;
    }
  } //.search-input


  .submit {
    position: relative; //For z-index on focus if JS
    z-index: 1; //For z-index on focus if JS
    border: none;
    float: right;
    margin: 0;
    margin-right: -3em;
    padding: 0;
    width: 3em;
    height: 3em;
    text-indent: -99em;
    background-color: $site-search-button-background-colour;
    border-radius: 0 $base-border-radius $base-border-radius 0;

    //@extend %search--navy;
    background-size: 20px auto; //Resize the SVG img as it has no height (could be set in SVG meta but this is safer)
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      background-color: $site-search-button-background-colour--hover;
    }

    &:focus {
      outline: solid 3px $site-search-outline--focus;
      z-index: 3;
    }

  } //.submit
} //.site-search

.site-search .submit {
    background-image: url(asset_path("search--navy.svg"));
}

.no-js .site-search label {
  color: $site-search-label-colour;
}

.js .site-search label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; //For z-index on focus if JS
  text-indent: 1em;
}

.lt-ie9 .site-search label {
  // placeholder not supported, so show the text above the searchbar input
  position: relative;
}

//Search results page
.search-results {
  h3 {
    margin-bottom: $tiny-spacing;
  }

  article {
    .url {
      font-size:15px;
      margin-bottom: $tiny-spacing;
      border-bottom: 0;
    }
  }
}

.search-results-header {
  margin-top: 0;
}


// Custom styling for the inverted feedback button in the header.
// This will likely be removed/replaced by a global site search.
// If other guides need it we might want to look into this.
//
// Either way we may want to revisit how the feedback button (*cough*) is set.
// It’s also undocumented.
//
// The @extend .inverted is not working in:
// https://github.com/AusDTO/gov-au-ui-kit/blob/master/assets/sass/components/_page-header.scss#L288

header[role='banner'] {
  .page-header {
    padding-top: 0;
  }

  .badge--default {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: super;

    // Magic numbers! but hey -- this lets the badge wrap nicely.
    @include media(min-width 300px max-width 410px) {
      margin: $small-spacing 0 0 rem(60);
    }
  }

  .breadcrumbs {
    background-color: $background-colour;
  }

  .feedback {
    @include button-colours(transparent, $button-bg-colour--hover, $button-bg-colour--active, $button-bg-colour--hover, $button-text-colour);

    display: block;
    float: none;
    margin-top: $base-spacing;
    margin-left: 0;

    @include media($tablet) {
      float: none;
      margin-left: 0;
    }
  }
}

main {
  header {
    h1 {
      .guide-title {
        display: block;
        font-size: rem(15);
        font-weight: normal;
        color: $grey;

        @include media($tablet) {
          font-size: rem(16);
        }

        @include media($desktop) {
          font-size: rem(17);
        }
      }
    }
  }


 // Homepage collection listing nav, similar as to the Design Guide’s.
  .collection-listing {
    @include ie-clearfix;

    list-style: none;
    margin: 0;
    padding: 0;

    @include media($tablet) {
      display: flex;
      flex-wrap: wrap;
    }

    > li {
      min-height: 7em;
      margin-bottom: $base-spacing;

      @include media($tablet) {
        @include span-columns(6 of 12);
        @include omega(2n);

        @include ie-lte(8) {
          width: 45%;
        }

        // min-height: 16rem; // more magic numbers
        padding-left: $medium-spacing;
        border-left: 1px solid $border-colour;
        display: flex;
        flex-direction: column;

        & > h2,
        & > h3 {
          margin-top: 0;
          margin-bottom: $small-spacing;
        }
      }

      @include media($desktop) {
        @include omega-reset(2n);
        @include span-columns(4 of 12);
        @include omega(3n);

        @include ie-lte(8) {
          width: 30%;
        }

        display: flex;
        flex-direction: column;
      }

      & > h2:first-of-type {
        margin-top: 0;
      }
    }

    @include media($tablet) {
      .collection-listing-btn {
        margin-top: auto;
        text-align: center;
        width: 70%;
      }
    }
  }

  // This gives us a little pilcrow (trad. paragraph marker) to the left of any
  // h2s that have an ID and contain an anchor with the .headline-slug-link
  // class on hover.
  //
  // This feature is used to give users a visual hover effect and hint that the
  // heading has an ID and URL that can be copied to provide a link directly to
  // this heading on the page.
  //
  // Might want to consider moving this into UI-Kit in the future.
  h2[id] {
    .headline-slug-link {
      border-bottom: none;
      position: relative;

      &:hover {
        border-bottom: none;
        background-color: $background-colour;

        &:after {
          content: '\00B6'; // pilcrow character
          position: absolute;
          width: rem(24);
          left: -(rem(24));
          top: 0.5em;
          font-size: $smaller-font-size;
          color: $grey;
        }
      }
    }
  }

  // These provide adequate margins for the back to contents links.
  //
  // It would be nice to improve the templates for these to have the whitespace
  // for each of the sections handled in a more consistent manner, eg.
  // http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  .guide-example + .back-to-index-link,
  details + .back-to-index-link {
    margin-top: rem(82);
  }

  p + .back-to-index-link,
  ul + .back-to-index-link {
    margin-top: rem(64);
  }

  .back-to-index-link {
    display: block;
    font-size: $small-font-size;
    float: right;
  }

  // Custom styling for sidebar
  //
  // We are hard-coding these % values from Neat results of the this grid setup.
  // We are doing this to get the sidebar floated to the left, w/ the right.
  // of margins.
  //
  // We should be able to remove this in the future when UI-Kit provides this.

  .sidebar {
    float: left;

    @include media($tablet) {
      margin-left: 0;
      margin-right: 2.74614%;
    }

    @include media($desktop) {
      float: left;
      margin-left: 0;
      margin-right: 2.04556%;
    }
  }
}

// Styling for code blocks outside of the rendered + HTML code examples.
.highlight {
  pre {
    overflow: auto;
    white-space: pre;

    code {
      font-size: rem(14);
    }

    .language-shell {
      display: block;
      margin-bottom: $base-spacing;
      font-size: rem(15);
    }
  }
}


// Custom styling for the rendered example and code blocks.
//
// Extract the repeating bits plz
.guide-example {
  padding-top: 0;

  .guide-example--heading {
    margin: 0;
    display: inline;

    span {
      font-size: $smaller-font-size;
    }
  }

  .guide-example__rendered {
    position: relative;
    border: solid 2px $non-white;
    margin: ($base-spacing * 1.5) 0;
    padding: rem(75) ($medium-spacing + $small-spacing) rem(30) ($medium-spacing + $small-spacing);

    .guide-example__rendered__heading {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: normal;
      background-color: $non-white;
      font-size: $small-font-size;
      padding: $tiny-spacing $small-spacing;
    }

    // This ensures that we don’t allow rendered examples to overflow their
    // containing boxes.
    .wrapper {
      box-sizing: border-box;
      min-width: 0;
    }
  }

  .highlight {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;

    pre {
      @extend %scrolling-example;

      margin: 0;
      padding-top: $medium-spacing;
      // padding-left: ($medium-spacing + $small-spacing);
      padding-right: $small-spacing;
    }
  }

  // We're making a linting exception here on purpose:
  //
  // This targets the visually hidden skip link rendered example to increase the
  // height of the example space, and to place a message into the space
  // notifying users that the space is intentionally visually empty until
  // manually activated.
  #rendered-skip-links {
    padding-bottom: $base-spacing;

    &:after {
      content: 'This example space contains a visually hidden feature.';
      font-size: $small-font-size;
    }
  }

  .guide-example--code-accordion {
    .accordion-panel {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }

    .guide-example--html-copy,
    .guide-example--code {
      margin: 0 $base-spacing;
    }

    .guide-example--html-copy {
      @include button-colours(transparent, $dark-aqua, $dark-aqua, $dark-aqua, $non-white);

      button {
        font-size: $small-font-size;
        border-radius: $base-border-radius;
      }
    }
  }

  .guide-example--meta {
    background-color: $lighter-grey;
    padding: $medium-spacing $base-spacing;

    .guide-example--html-copy {
      @include button-colours(transparent, $dark-aqua, $dark-aqua, $dark-aqua, $non-white);

      margin-bottom: $small-spacing;

      button {
        border-radius: $base-border-radius;
        font-size: $small-font-size;
      }
    }

    .guide-example--cite {
      font-size: $small-font-size;
    }
  }
}

// Custom styling for the Typography section Typeface eg blocks.
.guide-example--type {
  @extend %scrolling-example;

  margin-bottom: $base-spacing;
  padding: $medium-spacing;
  background-color: $non-white;
  border-radius: $base-border-radius;
  color: $dark-aqua;
  overflow: auto;

  p {
    font-size: 2em;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

// Custom styling for the accordion
details,
.accordion {
  border-right: 1px solid $border-colour;
  border-left: 1px solid $border-colour;
}

// Custom styling for abstract
//
// This seems defunct?
p.abstract {
  border-bottom: none;
  padding-bottom: 0;

  @include media($tablet) {
    max-width: 85%;
  }
}

// Custom styling for code examples
.guide-example--code {
  padding-bottom: 1.2em; // not base-spacing?
}

// Custom styling for the Colours section, specifically for the palette.
.guide-colour {
  @extend %base-border;

  float: left;
  width: 43%;
  margin-right: 3%;
  margin-bottom: $gutter;

  @include media($tablet) {
    float: none;
    margin-right: 0;
    @include span-columns(3 of 12);
    @include omega(4n);
  }

  .swatch {
    padding: 45% 0;
    border-bottom: solid 1px $border-colour;
  }

  .text {
    padding: $small-spacing;
    margin: 0;

    small {
      display: block;
      line-height: 1.6;
    }
  }
}

.guide-example--colour {
  @include outer-container;
}

.guide-colour-block {
  padding: $small-spacing $small-spacing $small-spacing $medium-spacing;
  border-radius: $base-border-radius;

  .inverted {
    float: right;
    width: 3.8rem;
    padding: 0 0.5em;
    border-radius: $base-border-radius;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
  }
}

@mixin colour-palette ($fg-colour, $bg-colour) {
  color: $fg-colour;
  background-color: $bg-colour;

  .inverted {
    color: $bg-colour;
    background-color: $fg-colour;
  }
}

.bg-black {
  @include colour-palette($white, $black);
}

.bg-non-black {
  @include colour-palette($non-white, $non-black);
}

.bg-grey {
  @include colour-palette($white, $grey);
}

.bg-light-grey {
  @include colour-palette($non-black, $light-grey);
}

.bg-non-white {
  @include colour-palette($non-black, $non-white);
}

.bg-white {
  @include colour-palette($non-black, $white);
}

.bg-aqua {
  @include colour-palette($non-white, $aqua);
}

.bg-dark-aqua {
  @include colour-palette($non-white, $dark-aqua);
}

.bg-darker-aqua {
  @include colour-palette($non-white, $darker-aqua);
}

.bg-light-aqua {
  @include colour-palette($non-black, $light-aqua);
}

.bg-lighter-aqua {
  @include colour-palette($non-black, $lighter-aqua);
}

.bg-navy {
  @include colour-palette($non-white, $navy);
}

.bg-dark-navy {
  @include colour-palette($non-white, $dark-navy);
}

.bg-maroon {
  @include colour-palette($white, $maroon);
}

.bg-red,
.bg-error-red {
  @include colour-palette($white, $error-colour);
}

.bg-light-red {
  @include colour-palette($error-colour, $light-red);
}

.bg-green,
.bg-success-green {
  @include colour-palette($white, $green);
}

.bg-light-green {
  @include colour-palette($green, $light-green);
}

.bg-yellow,
.bg-warning-yellow {
  background-color: $warning-colour;
}

.bg-light-yellow {
  @include colour-palette($non-black, $light-yellow);
}

.bg-blue,
.bg-info-blue {
  background-color: $blue;
}

.bg-light-blue {
  @include colour-palette($non-black, $light-blue);
}


footer[role='contentinfo'] .footer-links a.footer-link {
  display: inline;
}


////////////////////////////////////////////////////////////////////////////////


//ToDo: clean me up and give me a more apt class name.
//
.popular-now {
  @include clearfix;
}

.guide-example {
  max-width: 38em;
}


////////////////////////////////////////////////////////////////////////////////
// This styles the homepage h2 anchors, and borrows from code from the improved
// cta-link style (which will effectively replace the `.see-more` style in 1.x).


//

// I used this because it’s cleaner.
.uikit-cta-link {
   display: inline-block;
   position: relative;
   font-size: 22px;
   font-weight: bold;

   &:after {
     @extend %icon-arrow-right--aqua;

     content: ' ';
     display: inline-block;
     width: 0.8em;
     height: 0.8em;
     margin: 0 2px;
     background-repeat: no-repeat;
     background-position: right 1px;
     background-size: (0.75 * $small-spacing) auto;

     .ie8 &,
     .lt-ie8 & {
     content: ' > ';
     border: none;
    }
  }
}

//ToDo: xxx
//
.card-cta {
  margin-top: auto;
}

.card-cta-leisa {
}

.uikit-cta-link {
  font-size: 1rem;
  flex: none;
}

.subtitle--homepage {
  margin-top: 0;
}

.abstract--homepage {
  border-bottom: none;
  margin-bottom: $base-spacing * 3;

  .content-main > & > * {
    max-width: 44em;
  }
}
